$fa-font-path: '~font-awesome/fonts';
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

.overflow-x-hidden{
  overflow-x: hidden;
}

@media (max-width: 500px) {
  .font-small{
    font-size: 15px;
  }
}


